.hero {
  background-image: url("/image1.jpeg");
  background-size: contain;
  background-position: center;
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  opacity: 0;
  transform: scale(0.9);
  animation: fadeInScale 0.8s forwards;
}

.hero p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.videoSection {
  text-align: center;
  margin: 40px 0;
  padding: 20px;
}

.video {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  border: 5px solid transparent;
  background-clip: padding-box;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* Fancy border effect */
.video::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 5px solid #ffcc00;
  border-radius: 15px;
  z-index: -1;
}

.videoDescription {
  margin-top: 20px;
}

.videoDescription h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.videoDescription p {
  font-size: 1rem;
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .hero {
    background-size: cover;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .videoDescription h2 {
    font-size: 1.5rem;
  }

  .videoDescription p {
    font-size: 0.9rem;
  }

  .video {
    max-width: 100%;
  }

  .videoDescription {
    margin-top: 15px;
  }
}
